In [1]:
import pandas as pd

In [2]:
master_df=pd.read_csv('data/master_df.csv')

In [3]:
nb_age=5
nb_income=4

In [4]:
master_df

,customer_id,age,gender,income,years_member,offer_complete_status,offer_id,reward,difficulty,duration,email,mobile,social,web,bogo,informational,discount
0,4,75,F,100000,5,1,1,10,10,168,1,1,1,0,1,0,0
1,14,61,F,57000,5,1,1,10,10,168,1,1,1,0,1,0,0
2,15,26,M,46000,8,1,1,10,10,168,1,1,1,0,1,0,0
3,17,49,M,52000,8,1,1,10,10,168,1,1,1,0,1,0,0
4,20,61,F,40000,4,0,1,10,10,168,1,1,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55217,16982,84,M,93000,6,0,10,2,10,168,1,1,0,1,0,0,1
55218,16985,75,F,78000,6,0,10,2,10,168,1,1,0,1,0,0,1
55219,16989,64,M,51000,4,0,10,2,10,168,1,1,0,1,0,0,1
55220,16993,21,F,72000,5,0,10,2,10,168,1,1,0,1,0,0,1
55221,16994,60,M,113000,4,0,10,2,10,168,1,1,0,1,0,0,1

In [5]:
master_df['age'].max()

101

In [9]:
master_df['age'].value_counts()

58     1552
53     1386
51     1370
57     1338
59     1327
       ...
100      41
96       34
99       18
101      18
98       17
Name: age, Length: 84, dtype: int64

In [ ]:
import jenkspy
breaks = jenkspy.jenks_breaks(master_df['age'], nb_class=nb_age)

In [ ]:
breaks=[17.9,33.1,48.1,61.1,75.1,102]

In [ ]:
labels=[]
for i in breaks:
    labels.append(str(i))

In [ ]:
master_df['age_bin'] = pd.cut(master_df['age'] , bins=breaks, labels=labels[:-1], include_lowest=True)

In [ ]:
master_df['age_bin'].hist(figsize=(20,10))

In [ ]:
breaks_income = jenkspy.jenks_breaks(master_df['income'], nb_class=nb_income)
labels=[]
for i in breaks_income:
    labels.append(str(i))

In [ ]:
breaks_income=[0,50000.1,80000.1,120000.1]
labels=['low','middle','rich']

In [ ]:
master_df['income_bin'] = pd.cut(master_df['income'] , bins=breaks_income, labels=labels, include_lowest=True)
master_df['income_bin'].hist(figsize=(20,10))

In [ ]:
breaks_years_member=[0,5.1,9.1]
labels=['below five','above five']

In [ ]:
breaks_years_member

In [ ]:
master_df['years_member'].hist()

In [ ]:
master_df['years_member_bin'] = pd.cut(master_df['years_member'] , bins=breaks_years_member, labels=labels, include_lowest=True)

In [ ]:
master_df['years_member_bin'].hist()

In [ ]:
master_df['reward'].hist()

In [ ]:
breaks_reward=[0.0,1.9,4.1,6.1,10.1]
labels=['very low','low','high','very high']
master_df['reward_bin'] = pd.cut(master_df['reward'] , bins=breaks_reward, labels=labels, include_lowest=True)
master_df['reward_bin'].hist()

In [ ]:
breaks_difficulty=[0.0,4.9,7.1,10.1,20.1]
labels=['very easy','easy','moderate','hard']
master_df['difficulty_bin'] = pd.cut(master_df['difficulty'] , bins=breaks_difficulty, labels=labels, include_lowest=True)
master_df['difficulty_bin'].hist()

In [ ]:
breaks_duration=[0.0,4.9,7.1,10.1,20.1]
labels=['very easy','easy','moderate','hard']
master_df['difficulty_bin'] = pd.cut(master_df['difficulty'] , bins=breaks_difficulty, labels=labels, include_lowest=True)
master_df['difficulty_bin'].hist()

In [ ]:
breaks_duration=[70,121,169,241]
labels=['less time','moderate time','abundant time']
master_df['duration_bin'] = pd.cut(master_df['duration'] , bins=breaks_duration, labels=labels, include_lowest=True)
master_df['duration_bin'].hist()

In [ ]:
master_df['duration'].value_counts()

In [ ]:
master_df['email'].hist()

As the value of email is always confined to 1, its better not to consider 'email' column

In [ ]:
master_df['mobile'].hist()

In [ ]:
master_df['social'].hist()

In [ ]:
master_df['web'].hist()

In [ ]:
columns=master_df.columns.to_list()

In [ ]:
columns

In [ ]:
master_df.drop({'customer_id','age','income','years_member','offer_id','reward','difficulty','duration'},axis=1,inplace=True)

In [ ]:
master_df[['gender','age_bin','income_bin','years_member_bin','reward_bin','difficulty_bin',
           'duration_bin','offer_complete_status','mobile','social','web','bogo','informational','discount']]

# Modeling

In [ ]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
master_df['gender']=labelencoder.fit_transform(master_df['gender'])
master_df['age_bin']=labelencoder.fit_transform(master_df['age_bin'])
master_df['income_bin']=labelencoder.fit_transform(master_df['income_bin'])
master_df['years_member_bin']=labelencoder.fit_transform(master_df['years_member_bin'])
master_df['reward_bin']=labelencoder.fit_transform(master_df['reward_bin'])
master_df['difficulty_bin']=labelencoder.fit_transform(master_df['difficulty_bin'])
master_df['duration_bin']=labelencoder.fit_transform(master_df['duration_bin'])

In [ ]:
X=master_df[['gender','age_bin','income_bin','years_member_bin','reward_bin','difficulty_bin','duration_bin',
             'mobile','social','web','email']]
y=master_df['offer_complete_status']

In [ ]:
X

In [ ]:
y

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=0)

In [ ]:
from sklearn.ensemble import RandomForestClassifier

rfc =RandomForestClassifier(random_state=10)

In [ ]:
rfc.fit(X_train, y_train)

In [ ]:
y_pred=rfc.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report
import numpy as np
from sklearn.metrics import f1_score,confusion_matrix, classification_report

In [ ]:

labels=np.unique(y_test)
print(classification_report(y_test, y_pred, labels = labels))
print("f1 Score",f1_score(y_test, y_pred))
print("Labels:", labels)
print("Confusion Matrix:\n", confusion_matrix(y_test.values, y_pred, labels = labels))
print("The selected value for nbin age :",len(breaks)-1)
print("The selected value for nbin income :",len(breaks_income)-1)

In [ ]:
cm=confusion_matrix(y_test.values, y_pred, labels = labels)
report=classification_report(y_test, y_pred, labels = labels)

In [ ]:
importance = rfc.feature_importances_

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
feat_importances = pd.Series(rfc.feature_importances_, index=X.columns)
feat_importances.nlargest(20).plot(kind='barh',figsize=(20,10))

gender,age,income
M,y(18-24),LI
M,y(18-24),M
M,y(18-24),R
M,y(18-24),

In [ ]:
feat_importances.sum()

In [ ]:
feat_importances

In [ ]:
from xgboost import XGBClassifier
xgb = XGBClassifier(use_label_encoder=False,eval_metric = 'error',random_state=10)
xgb.fit(X_train, y_train)
y_pred=xgb.predict(X_test)

In [ ]:
feat_importances = pd.Series(xgb.feature_importances_, index=X.columns)
feat_importances.nlargest(20).plot(kind='barh',figsize=(20,10))

In [ ]:
labels=np.unique(y_test)
print(classification_report(y_test, y_pred, labels = labels))
print("f1 Score",f1_score(y_test, y_pred))
print("Labels:", labels)
print("Confusion Matrix:\n", confusion_matrix(y_test.values, y_pred, labels = labels))
print("The selected value for nbin age :",len(breaks)-1)
print("The selected value for nbin income :",len(breaks_income)-1)